.loader3 {
	position: relative;
	width: 100px;
	height: 25px;
	margin: 200px auto;
	border-bottom: 1px solid #292229;
	box-shadow: 0 2px 2px #1a141a;
}

.loader3 .wall {
	width: 10%; /*10px*/
	height: 100%;
	background-color: #292229;
}

.loader3 .wall-left {
	float: left;
}

.loader3 .wall-right {
	float: right;
}

.loader3 .ball {
	width: 10%; /*10px*/
	height: 40%;
	background-color: #2b404a;
	border-radius: 50%;
}

.loader3 .ball-left {
	position: absolute;
	bottom: 0;
	left: 40px;
	-webkit-animation: ballLeftPosition-loader3 1s infinite ease-in-out;
          animation: ballLeftPosition-loader3 1s infinite ease-in-out;
	-webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.loader3 .ball-right {
	position: absolute;
	bottom: 0;
	left: 50px;
	-webkit-animation: ballRightPosition-loader3 1s infinite ease-in-out;
          animation: ballRightPosition-loader3 1s infinite ease-in-out;
}

@-webkit-keyframes ballRightPosition-loader3 {
  0%, 100% {
    left: 50px;
  } 50% {
    left: 80px; 
  }
}

@keyframes ballRightPosition-loader3 {
  0%, 100% {
   	left: 50px;
  } 50% {
    left: 80px; 
  } 
}

@-webkit-keyframes ballLeftPosition-loader3 {
  0%, 100% {
    left: 40px;
  } 50% {
    left: 10px; 
  }
}

@keyframes ballLeftPosition-loader3 {
  0%, 100% {
   	left: 40px;
  } 50% {
    left: 10px; 
  } 
}